# mac os
.DS_Store

# IDE
.idea

# Jupyter
.ipynb_checkpoints/
*checkpoint.ipynb

# Python
*__pycache__*
*egg-info/
dist/
build/
.venv
.nox

# tests
.coverage
coverage
coverage.xml

# Sphinx
docs/_build/
docs/api/generated
docs/getting_started/data

# example data
src/scripts/example_data

# test data
tests/data-for-tests/source/
tests/data-for-tests/generated/feature/
tests/data-for-tests/generated/paths/
tests/data-for-tests/generated/segment/
tests/data-for-tests/generated/spectrogram/
*.tar.gz
